<div class="category">
    <h3>Danh mục sản phẩm</h3>
    <ul>
        <li>Áo dài</li>
        <li>Áo đông</li>
        <li>Túi xách</li>
        <li>Đồng hồ</li>
        <li>Ví da</li>
        <li>Thắt lưng da</li>
        <li>Lò vi sóng</li>
        <li>Tivi</li>
        <li>Quạt điện</li>
        <li>Lò sưởi</li>
        <div class="pr">
            <img src="~/images/pr/images.jpg" alt="" />
        </div>
    </ul>
    
</div>

